
.loader {
  top: 50%;
  left: 50%;
  z-index: 1;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #FF7900;
    margin: 35px 5px;
    animation: blink 1.4s ease-in infinite;
    &:nth-of-type(2) {
      animation-delay: 0.2s;
    }
    &:nth-of-type(3) {
      animation-delay: 0.4s;
    }
  }
}

.dim {
    // opacity 20%
    background-color: #d6d6d633; 
    top: 0;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes blink{
  0%, 100% {
    opacity: 0.2;
  }

  20%{
    opacity: 1;
  }
}