.wrap-search {
  background: #FFF;
  margin: 12px 16px;
  height: 36px;
  position: relative;
}

.icon-serch {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.input-search {
  background: rgba(118, 118, 128, 0.12);
  border-radius: 10px;
  padding-left: 10px;
  height: 36px;
  width: 100%;
  outline: none;
  border: none;
}

.input-search:focus {
  border: 1px solid #3B4EDC;
}
