.wrap-item-order {
  margin: 6px 0;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  border: 1px solid #d6d6d6;
  border-left: none;
  border-right: none;
  background: #FFF;
  cursor: pointer;
}
.wrap-item-order:hover {
  background: rgba(0, 156, 220, 0.11);
}

.main-station {
  height: 100vh;
}
.date-time {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  border: 2px solid #3B4EDC;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.time {
  font-family: Be Vietnam;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.084px;
  color: #3B4EDC;
}

.date {
  margin-top: 4px;
  font-family: Be Vietnam;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  text-align: center;
  letter-spacing: -0.084px;
  color: #3E3E54;
}
.wrap-user-info {
  flex: 2;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

.order-id {
  margin-right: 8px;
  color: #3B4EDC;
  font-family: Be Vietnam;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
}

.order-email {
  font-family: Be Vietnam;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px; 
  letter-spacing: -0.084px;
  color: #000000;
}
.order-address {
  font-family: Be Vietnam;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.084px;
  color: #8C8C8C;
}

.order-price {
  font-family: Be Vietnam;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #8C8C8C;
}
.order-item {
  font-family: Be Vietnam;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.084px;
  color: #000000;
}
.wrap-price-order {
  margin-right: 8px;
  text-align: right;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wrap-tab {
  margin-top: 16px;
}

.wrap-icon-add {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  width: 60px;
  height: 60px;
  padding: 2px;
  background: #3B4EDC;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
}

.wrap-icon-add:hover {
  background: #009CDC;
}

.tab-selected {
  color: #FFF !important;
  background: #3B4EDC !important;
  border-bottom: none !important;
  border-radius: 6px !important;
}

.tab-root {
  height: 35px !important;
  min-height: 35px !important;
  text-transform: none !important;
  background: rgba(118, 118, 128, 0.12);
}

.app-bar {
  box-shadow: none !important;
  margin: 0 20px !important;
  width: auto !important;
}

.tab-indicator {
  background: transparent !important;
}

.tabs-flexContainer {
  background: rgba(118, 118, 128, 0.12);
  border-radius: 6px;
}