
.icon-right {
    cursor: pointer;
    display: block;
    float: right;
    width: 20px;
    height: 20px;
}
.icon-left {
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
.navigate {
    position: relative;
    width: 100%;
    margin-top: -24px;
}