hr {
    margin-top: 10px !important;
}

.btn-wraper {
    margin-top: 20px;
    text-align: center;
}

.confirmBtnStyle {
    background-color: #FF7900;
    color: #FFFFFF;
    margin-left: 15px;
}
.cancelBtnStyle {
    background-color: #FFFFFF;
    color: #000000;
}
.confirmBtnStyle, .cancelBtnStyle {
    border-radius: 17px;
    padding: 8px 24px;
    height: 35px;
    border: 1px solid #FF7900;
    font-weight: 700;
    font-size: 14px;
    font-family: roboto;
    cursor: pointer;
    transition: background 0.8s;
}

.cancelBtnStyle:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.cancelBtnStyle:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.confirmBtnStyle:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
}

.dt-picker {
    display: flex;
    margin-top: 25px;
    margin-bottom: 35px;

}

.div-select {
    width: 50%;
}

.infoText {
    font-weight: 300;
    margin: 10px 0 30px;
    text-align: center;
}

.back {
    font-size: 14px;
    color: #00b1ff;
    font-style: italic;
    text-decoration: underline;
}
.divBack {
    margin-top: 12px;
    margin-bottom: 15px;
}
.thangCha {
    width: 100%;
    display: inline-block;
    margin-bottom: 18px;
}
.left {
    float: left;
}
.right {
    float: right;
    margin-right: 10px;
}
.detailData {
    margin-top: 20px;
    margin-right: 8px;
    border-radius: 14px;
    background: #f9f9f9;
}

.detailDataConfirm {
    margin-top: 20px;
    background: transparent;
}

.tableDetail {
    margin: 8px;
    width: calc(100% - 16px);
    border-collapse: collapse;
    height: auto;
}

.tableConfirm {
    margin: 8px 0;
    width: 100%;
    border-collapse: collapse;
    height: auto;
}
.trDetail {
    border-bottom: 1px solid #d6d6d6;
    font-size: 9px;
    font-weight: 300;

}

.trConfirm {
    border-bottom: 1px solid #d6d6d6;
    font-size: 9px;
}
.trConfirmLast {
    font-size: 9px;
    font-weight: 500;
    color: #000000;
}
.trDetailLast {
    border: none;
    font-size: 9px;
}

.tdDetail {
    padding: 8px 0px;
    width: 40%;
    text-align: left;
    vertical-align: middle;
}
.tdDetail2 {
    padding: 8px 0px;
    width: 60%;
    text-align: right;
    vertical-align: middle;
}

.descEditTime {
    display: inline-block;
    margin-bottom: 24px;
    font-size: 9px;
}
.spanEditTime {
    display: block;
    font-size: 14px;
    color: #00b1ff;
    font-style: italic;
    margin-top: 24px;
    cursor: pointer;
}
.wrapDateTime {
    display: flex;
    text-align: left;
}
.dateTime {
    opacity: 0;
    margin-top: -45px;
}
/* sweetalert icon */
.f-modal-alert {
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .f-modal-alert .f-modal-icon {
    border-radius: 50%;
    border: 4px solid gray;
    box-sizing: content-box;
    height: 80px;
    margin: 0px auto;
    padding: 0;
    position: relative;
    width: 80px;
    /* // Error icon */
    /* // Warning icon */
  }
  .f-modal-alert .f-modal-icon.f-modal-success, .f-modal-alert .f-modal-icon.f-modal-error {
    border-color: #a5dc86;
  }
  .f-modal-alert .f-modal-icon.f-modal-success:after, .f-modal-alert .f-modal-icon.f-modal-error:after, .f-modal-alert .f-modal-icon.f-modal-success:before, .f-modal-alert .f-modal-icon.f-modal-error:before {
    background: #fff;
    content: '';
    height: 120px;
    position: absolute;
    transform: rotate(45deg);
    width: 60px;
  }
  .f-modal-alert .f-modal-icon.f-modal-success:before, .f-modal-alert .f-modal-icon.f-modal-error:before {
    border-radius: 120px 0 0 120px;
    left: -33px;
    top: -7px;
    transform-origin: 60px 60px;
    transform: rotate(-45deg);
  }
  .f-modal-alert .f-modal-icon.f-modal-success:after, .f-modal-alert .f-modal-icon.f-modal-error:after {
    border-radius: 0 120px 120px 0;
    left: 30px;
    top: -11px;
    transform-origin: 0 60px;
    transform: rotate(-45deg);
  }
  .f-modal-alert .f-modal-icon.f-modal-success .f-modal-placeholder, .f-modal-alert .f-modal-icon.f-modal-error .f-modal-placeholder {
    border-radius: 50%;
    border: 4px solid #FF7900;
    box-sizing: content-box;
    height: 80px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 80px;
    z-index: 2;
  }
  .f-modal-alert .f-modal-icon.f-modal-success .f-modal-fix, .f-modal-alert .f-modal-icon.f-modal-error .f-modal-fix {
    background-color: #fff;
    height: 90px;
    left: 28px;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 5px;
    z-index: 1;
  }
  .f-modal-alert .f-modal-icon.f-modal-success .f-modal-line, .f-modal-alert .f-modal-icon.f-modal-error .f-modal-line {
    background-color: #FF7900;
    border-radius: 2px;
    display: block;
    height: 5px;
    position: absolute;
    z-index: 2;
  }
  .f-modal-alert .f-modal-icon.f-modal-success .f-modal-line.f-modal-tip, .f-modal-alert .f-modal-icon.f-modal-error .f-modal-line.f-modal-tip {
    left: 14px;
    top: 46px;
    transform: rotate(45deg);
    width: 25px;
  }
  .f-modal-alert .f-modal-icon.f-modal-success .f-modal-line.f-modal-long, .f-modal-alert .f-modal-icon.f-modal-error .f-modal-line.f-modal-long {
    right: 8px;
    top: 38px;
    transform: rotate(-45deg);
    width: 47px;
  }
  .f-modal-alert .f-modal-icon.f-modal-error {
    border-color: #FF7900;
  }
  .f-modal-alert .f-modal-icon.f-modal-error .f-modal-x-mark {
    display: block;
    position: relative;
    z-index: 2;
  }
  .f-modal-alert .f-modal-icon.f-modal-error .f-modal-placeholder {
    border: 4px solid #FF7900;
  }
  .f-modal-alert .f-modal-icon.f-modal-error .f-modal-line {
    background-color: #FF7900;
    top: 37px;
    width: 47px;
  }
  .f-modal-alert .f-modal-icon.f-modal-error .f-modal-line.f-modal-left {
    left: 17px;
    transform: rotate(45deg);
  }
  .f-modal-alert .f-modal-icon.f-modal-error .f-modal-line.f-modal-right {
    right: 16px;
    transform: rotate(-45deg);
  }
  .f-modal-alert .f-modal-icon.f-modal-warning {
    border-color: #FF7900;
  }
  .f-modal-alert .f-modal-icon.f-modal-warning:before {
    animation: pulseWarning 2s linear infinite;
    background-color: #fff;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }
  .f-modal-alert .f-modal-icon.f-modal-warning:after {
    background-color: #fff;
    border-radius: 50%;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .f-modal-alert .f-modal-icon.f-modal-warning .f-modal-body {
    background-color: #FF7900;
    border-radius: 2px;
    height: 47px;
    left: 50%;
    margin-left: -2px;
    position: absolute;
    top: 10px;
    width: 5px;
    z-index: 2;
  }
  .f-modal-alert .f-modal-icon.f-modal-warning .f-modal-dot {
    background-color: #FF7900;
    border-radius: 50%;
    bottom: 10px;
    height: 7px;
    left: 50%;
    margin-left: -3px;
    position: absolute;
    width: 7px;
    z-index: 2;
  }
  .f-modal-alert .f-modal-icon + .f-modal-icon {
    margin-top: 50px;
  }
  .animateSuccessTip {
    animation: animateSuccessTip 0.75s;
  }
  .animateSuccessLong {
    animation: animateSuccessLong 0.75s;
  }
  .f-modal-icon.f-modal-success.animate:after {
    animation: rotatePlaceholder 4.25s ease-in;
  }
  .f-modal-icon.f-modal-error.animate:after {
    animation: animateErrorIcon 0.5s;
  }
  .animateXLeft {
    animation: animateXLeft 0.75s;
  }
  .animateXRight {
    animation: animateXRight 0.75s;
  }
  .scaleWarning {
    animation: scaleWarning 0.75s infinite alternate;
  }
  .pulseWarningIns {
    animation: pulseWarningIns 0.75s infinite alternate;
  }
  @keyframes animateSuccessTip {
    0%, 54% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    70% {
      width: 50px;
      left: -8px;
      top: 37px;
    }
    84% {
      width: 17px;
      left: 21px;
      top: 48px;
    }
    100% {
      width: 25px;
      left: 14px;
      top: 45px;
    }
  }
  @keyframes animateSuccessLong {
    0%, 65% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    84% {
      width: 55px;
      right: 0;
      top: 35px;
    }
    100% {
      width: 47px;
      right: 8px;
      top: 38px;
    }
  }
  @keyframes rotatePlaceholder {
    0%, 5% {
      transform: rotate(-45deg);
    }
    100%, 12% {
      transform: rotate(-405deg);
    }
  }
  @keyframes animateErrorIcon {
    0% {
      transform: rotateX(100deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  @keyframes animateXLeft {
    0%, 65% {
      left: 82px;
      top: 95px;
      width: 0;
    }
    84% {
      left: 14px;
      top: 33px;
      width: 47px;
    }
    100% {
      left: 17px;
      top: 37px;
      width: 47px;
    }
  }
  @keyframes animateXRight {
    0%, 65% {
      right: 82px;
      top: 95px;
      width: 0;
    }
    84% {
      right: 14px;
      top: 33px;
      width: 47px;
    }
    100% {
      right: 16px;
      top: 37px;
      width: 47px;
    }
  }
  @keyframes scaleWarning {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes pulseWarning {
    0% {
      background-color: #fff;
      transform: scale(1);
      opacity: 0.5;
    }
    30% {
      background-color: #fff;
      transform: scale(1);
      opacity: 0.5;
    }
    100% {
      background-color: #f8bb86;
      transform: scale(2);
      opacity: 0;
    }
  }
  @keyframes pulseWarningIns {
    0% {
      background-color: #FF7900;
    }
    100% {
      background-color: #f8bb86;
    }
  }
