.public-header-container {
  padding: 0 70px;
  height: 70px;
  background: blue;
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: flex-end
}
.logo {
  flex: 1
}
.right-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
}

.search {
  margin: 0 8px;
  border-radius: 15px;
  width: 200px;
  height: 30px;
  max-width: 200px;
  background-color: #d6d6d6;
}

.header-btn {
  color: #FFFFFF;
  align-items: center;
  display: flex;
  outline: none;
  margin-left: 4px;
  margin-right: 4px;
  width: auto;
  padding: 4px 16px;
  height: 30px;
  border-radius: 15px;
}

.btn-course {
  background: red;
}

.btn-login {
  background: green
}
.btn-register {
  background: gray
}

.nav-link-public {
  text-decoration: unset;
}
