.in-line {
  display: flex
}
.btn-add {
  margin-bottom: 8px;
  font-family: Be Vietnam;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 29px;
  color: #FFF;
  background: #3B4EDC;
  outline: none;
  width: 100px;
  height: 39px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}